body {
    justify-content: center;
    align-items: center;
    display: grid;
    height: 100px;
    margin: 0;
}

.css-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    align-items: center;
}

.css-board div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-switchButton {
    padding: 10px 20px;
    border-radius: 25%;
}